.signup-form {
	label {
		@extend .col;
		@extend .m-4-12;
		margin-bottom: $padding * 0.5;
		@include inline-block;
		margin-right: $padding;

		@media #{$medium-up} {
			text-align: right;
		}
	}

	input {
		padding: $padding*0.5 $padding;
		width: 100%;
		max-width: 100%;
		border-radius: rem-calc(3);
		border: 1px solid lighten(color($gray, light), 15%);
		font-size: rem-calc(18);

		@media #{$medium-up} {
			margin-left: $padding;
			width: rem-calc(400);
		}
	}

	li {
		display: block;
		margin-bottom: $padding;
	}
}