html, body, div, span, applet, object, iframe,
h1, h2, .blog-post_title, h3, .featured h1, .pne_item h1, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

meta.foundation-version {
  font-family: "/5.4.6/";
}

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

meta.foundation-data-attribute-namespace {
  font-family: false;
}

html, body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

.spaced-heading {
  letter-spacing: 3px;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 100% !important;
  float: left;
}

.row, .slide_content_innerwrapper, .quote-blocks {
  width: 100%;
  max-width: 68.75rem;
  margin: auto auto;
}
.row:before, .slide_content_innerwrapper:before, .quote-blocks:before, .row:after, .slide_content_innerwrapper:after, .quote-blocks:after {
  content: " ";
  display: table;
}
.row:after, .slide_content_innerwrapper:after, .quote-blocks:after {
  clear: both;
}

.collapse {
  padding: 0 !important;
}

.col, .mini-nav, .slide_content, .prog-widg_item, .sstory, .insights-widg, .insights-widg_item, .insights-widg_item_thumb, .insights-widg_item_summary, .featured, .pp-blog .pp_item, .pp-resources .pp_item, .pp-quote, .blog-post_details, .blog-post_content, .pne, .quote-blocks .item {
  width: 100%;
  float: left;
}

[class*='col-'], [class*='m-']:last-of-type, [class*='s-']:last-of-type {
  padding-right: 1.25rem;
}

[class*='col-']:last-of-type, [class*='m-']:last-of-type, [class*='s-']:last-of-type {
  padding-right: 0;
  float: right;
}

.end, .mini-nav, .featured, .pp-quote-large {
  float: left !important;
}

.s-0-12 {
  width: 0%;
  float: left;
}

.s-offset-0 {
  margin-left: 0%;
}

.s-1-12 {
  width: 8.33333%;
  float: left;
}

.s-offset-1 {
  margin-left: 8.33333%;
}

.s-2-12 {
  width: 16.66667%;
  float: left;
}

.s-offset-2 {
  margin-left: 16.66667%;
}

.s-3-12, .insights-widg_item_thumb {
  width: 25%;
  float: left;
}

.s-offset-3 {
  margin-left: 25%;
}

.s-4-12 {
  width: 33.33333%;
  float: left;
}

.s-offset-4 {
  margin-left: 33.33333%;
}

.s-5-12 {
  width: 41.66667%;
  float: left;
}

.s-offset-5 {
  margin-left: 41.66667%;
}

.s-6-12, .pp-resources .pp_item {
  width: 50%;
  float: left;
}

.s-offset-6 {
  margin-left: 50%;
}

.s-7-12, .slide_content {
  width: 58.33333%;
  float: left;
}

.s-offset-7 {
  margin-left: 58.33333%;
}

.s-8-12 {
  width: 66.66667%;
  float: left;
}

.s-offset-8 {
  margin-left: 66.66667%;
}

.s-9-12, .insights-widg_item_summary {
  width: 75%;
  float: left;
}

.s-offset-9 {
  margin-left: 75%;
}

.s-10-12 {
  width: 83.33333%;
  float: left;
}

.s-offset-10 {
  margin-left: 83.33333%;
}

.s-11-12 {
  width: 91.66667%;
  float: left;
}

.s-offset-11 {
  margin-left: 91.66667%;
}

.s-12-12 {
  width: 100%;
  float: left;
}

.s-offset-12 {
  margin-left: 100%;
}

@media only screen and (min-width: 40.063em) {
  .m-0-12 {
    width: 0%;
    float: left;
  }

  .m-offset-0 {
    margin-left: 0%;
  }

  .m-1-12 {
    width: 8.33333%;
    float: left;
  }

  .m-offset-1 {
    margin-left: 8.33333%;
  }

  .m-2-12 {
    width: 16.66667%;
    float: left;
  }

  .m-offset-2, .mini-nav, .featured, .pp-quote-large, .pne {
    margin-left: 16.66667%;
  }

  .m-3-12, .pp-resources .pp_item, .blog-post_details {
    width: 25%;
    float: left;
  }

  .m-offset-3, .pp-quote {
    margin-left: 25%;
  }

  .m-4-12, .prog-widg_item, .pp-blog .pp_item, .quote-blocks .item {
    width: 33.33333%;
    float: left;
  }

  .m-offset-4 {
    margin-left: 33.33333%;
  }

  .m-5-12, .slide_content, .sstory {
    width: 41.66667%;
    float: left;
  }

  .m-offset-5 {
    margin-left: 41.66667%;
  }

  .m-6-12, .pp-quote {
    width: 50%;
    float: left;
  }

  .m-offset-6 {
    margin-left: 50%;
  }

  .m-7-12, .insights-widg {
    width: 58.33333%;
    float: left;
  }

  .m-offset-7 {
    margin-left: 58.33333%;
  }

  .m-8-12, .mini-nav, .featured, .pp-quote-large, .blog-post_content, .pne {
    width: 66.66667%;
    float: left;
  }

  .m-offset-8 {
    margin-left: 66.66667%;
  }

  .m-9-12 {
    width: 75%;
    float: left;
  }

  .m-offset-9 {
    margin-left: 75%;
  }

  .m-10-12 {
    width: 83.33333%;
    float: left;
  }

  .m-offset-10 {
    margin-left: 83.33333%;
  }

  .m-11-12 {
    width: 91.66667%;
    float: left;
  }

  .m-offset-11 {
    margin-left: 91.66667%;
  }

  .m-12-12 {
    width: 100%;
    float: left;
  }

  .m-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 64.063em) {
  .l-0-12 {
    width: 0%;
    float: left;
  }

  .l-offset-0 {
    margin-left: 0%;
  }

  .l-1-12 {
    width: 8.33333%;
    float: left;
  }

  .l-offset-1 {
    margin-left: 8.33333%;
  }

  .l-2-12 {
    width: 16.66667%;
    float: left;
  }

  .l-offset-2 {
    margin-left: 16.66667%;
  }

  .l-3-12 {
    width: 25%;
    float: left;
  }

  .l-offset-3 {
    margin-left: 25%;
  }

  .l-4-12, .slide_content {
    width: 33.33333%;
    float: left;
  }

  .l-offset-4 {
    margin-left: 33.33333%;
  }

  .l-5-12 {
    width: 41.66667%;
    float: left;
  }

  .l-offset-5 {
    margin-left: 41.66667%;
  }

  .l-6-12 {
    width: 50%;
    float: left;
  }

  .l-offset-6 {
    margin-left: 50%;
  }

  .l-7-12 {
    width: 58.33333%;
    float: left;
  }

  .l-offset-7 {
    margin-left: 58.33333%;
  }

  .l-8-12 {
    width: 66.66667%;
    float: left;
  }

  .l-offset-8 {
    margin-left: 66.66667%;
  }

  .l-9-12 {
    width: 75%;
    float: left;
  }

  .l-offset-9 {
    margin-left: 75%;
  }

  .l-10-12 {
    width: 83.33333%;
    float: left;
  }

  .l-offset-10 {
    margin-left: 83.33333%;
  }

  .l-11-12 {
    width: 91.66667%;
    float: left;
  }

  .l-offset-11 {
    margin-left: 91.66667%;
  }

  .l-12-12 {
    width: 100%;
    float: left;
  }

  .l-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (max-width: 40em) {
  .m-pad, .mt-pad, .slide_content_innerwrapper {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .mt-pad, .slide_content_innerwrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.c-p {
  color: #f7941d;
}

/**
* Settings are gotten from ../settings.scss file
* Settings include the following items:
* $base-font-family
* $base(font-size, line, line-height, font-weight)
* $h1(font-size, font-weight, line, lines)
*	
**/
body {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 300;
  font-family: Lato, Helvetica, sans;
}

p {
  font-size: inherit;
  line-height: 1.7;
  margin-bottom: 1.25rem;
}

.small {
  font-size: 90%;
}

h1 {
  font-size: 4.75rem;
  font-weight: 200;
  line-height: 6.25rem;
  margin-top: 3.125rem;
  margin-bottom: 0.25rem;
}

h2, .blog-post_title {
  font-size: 2.9375rem;
  font-weight: 200;
  line-height: 3.125rem;
  margin-top: 3.125rem;
  margin-bottom: 0.125rem;
}

h3, .featured h1, .pne_item h1 {
  font-size: 1.8125rem;
  font-weight: 200;
  line-height: 3.125rem;
  margin-top: 1.5625rem;
  margin-bottom: 0.125rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

h5 {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.0625rem;
}

.light {
  font-weight: 100;
}

.primary-color {
  color: #f7941d;
}

body {
  color: #9c9c9c;
}

.header {
  width: 100%;
  float: left;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
}
.header .logo {
  float: left;
}
.header .logo h1 {
  width: 0;
  height: 0;
  font-size: 0;
  text-indent: -99999999px;
  display: none;
}
.header .nav {
  float: right;
  margin-top: 1.25rem;
  display: none;
  z-index: 1000;
}
@media only screen and (min-width: 64.063em) {
  .header .nav {
    display: block;
  }
}
.header .nav_links {
  font-size: 0.75rem;
}
.header .nav_links li {
  display: block;
  padding-right: 0.625rem;
  text-transform: uppercase;
  font-weight: bold;
}
.header .nav_links li:last-child {
  padding-right: 0;
}
@media only screen and (min-width: 64.063em) {
  .header .nav_links li {
    display: inline-block;
    padding-right: 0.625rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  .header .nav_links li:last-child {
    padding-right: 0;
  }
}
.header .nav_links a {
  color: #9c9c9c;
}
.header .nav_links a:hover {
  color: #f7941d;
}
.header .nav-active {
  display: block !important;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-left: -1.875rem;
  background-color: white;
  margin-top: 4.625rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .header .nav-active {
    margin-left: -1.25rem;
  }
}
.header .nav-active .nav_links {
  font-size: 1.25rem;
  line-height: 1.5;
}
.header .nav-active .nav_links li {
  margin-bottom: 1.25rem;
  border-bottom: 1px dash lighte;
}
.header .menu {
  position: absolute;
  z-index: 1000;
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 1.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 64.063em) {
  .header .menu {
    right: 0;
    display: none;
  }
}
.header .menu .bars {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
}
.header .menu .bars span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 26px;
  height: 1.3px;
  margin-left: -13px;
  margin-top: -1px;
  background-color: #f7941d;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.header .menu .bars span:first-child {
  margin-top: -7px;
}
.header .menu .bars span:nth-child(2) {
  -webkit-transition-delay: 0.075s;
  -moz-transition-delay: 0.075s;
  transition-delay: 0.075s;
}
.header .menu .bars span:last-child {
  margin-top: 5px;
  -webkit-transition-delay: 0.015s;
  -moz-transition-delay: 0.015s;
  transition-delay: 0.015s;
}
.header .menu.active .bars span {
  width: 0;
  margin-left: -15px;
}
.header .menu.active .bars span:first-child {
  margin-top: 0px;
  width: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header .menu.active .bars span:last-child {
  margin-top: 0px;
  width: 30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.mini-nav {
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.mini-nav a {
  display: inline-block;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  color: #9c9c9c;
  border-right: 1px solid #e9e9e9;
  line-height: 1;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.mini-nav a:last-child {
  border-right: none;
}
.mini-nav a:hover {
  color: #f7941d;
}

.slider {
  width: 100%;
  float: left;
  color: white;
}
@media only screen and (max-width: 40em) {
  .slider h2, .slider .blog-post_title {
    font-size: 1.875rem;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 40em) {
  .slider h4 {
    font-size: 0.9375rem;
    line-height: 1.6;
  }
}

.slide {
  position: relative;
  overflow: hidden;
}
.slide img {
  position: relative;
}
@media only screen and (max-width: 40em) {
  .slide img {
    width: 200%;
    max-width: none;
    right: 50%;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .slide img {
    width: 160%;
    max-width: none;
    right: 30%;
  }
}
.slide_content_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  float: left;
}
.slide_content {
  position: absolute;
}
@media only screen and (min-width: 40.063em) {
  .slide_content {
    top: 1.25rem;
  }
}

.slider-pager {
  width: 100%;
  text-align: center;
}
.slider-pager a {
  width: 10px;
  height: 10px;
  background-color: #9c9c9c;
  border-radius: 50%;
  line-height: 0;
  overflow: hidden;
  margin-top: 1.25rem;
  display: inline-block;
  color: transparent;
  margin-right: 0.625rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.slider-pager a.activeSlide {
  background-color: #f7941d;
}

.hero {
  width: 100%;
  float: left;
  color: white;
  font-weight: 100;
  padding-bottom: 3.75rem;
  min-height: 350;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .hero {
    background-size: cover;
    background-position: top center;
  }
}
@media only screen and (min-width: 40.063em) {
  .hero {
    min-height: 31.25rem;
    padding-top: 2.5rem;
  }
}
@media only screen and (max-width: 40em) {
  .hero h2, .hero .blog-post_title {
    font-size: 1.875rem;
    line-height: 1.2;
  }
}
.hero-home {
  background: url('/assets/img/protege-professionals.jpg?1422897651') no-repeat;
}
.hero-about {
  background: url('/assets/img/protege-motivated-professional.jpg?1422977774') no-repeat;
}
.hero-services {
  background: url('/assets/img/protege-business-people.jpg?1422978423') no-repeat;
}
.hero-pc {
  background: url('/assets/img/protege-performance-coaching.jpg?1423121279');
  color: #9c9c9c;
  padding-left: 2.5rem;
}
.hero-pc h3, .hero-pc .featured h1, .featured .hero-pc h1, .hero-pc .pne_item h1, .pne_item .hero-pc h1 {
  color: #f7941d;
}
.hero-hr {
  background: url('/assets/img/protege-hr.jpg?1422984183') no-repeat;
  background-position: top right;
}
.hero-ex {
  background: url('/assets/img/protege-professionals.jpg?1422897651') no-repeat;
  background-position: top right;
  padding-left: 2.5rem;
}
.hero-home, .hero-about, .hero-services, .hero-pc, .hero-hr, .hero-ex {
  background-size: cover;
  background-position: top center;
}

@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot?4vx4md");
  src: url("/assets/fonts/icomoon.eot?#iefix4vx4md") format("embedded-opentype"), url("/assets/fonts/icomoon.woff?4vx4md") format("woff"), url("/assets/fonts/icomoon.ttf?4vx4md") format("truetype"), url("/assets/fonts/icomoon.svg?4vx4md#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-right:before {
  content: "\e601";
}

.icon-google-plus:before {
  content: "\ea89";
}

.icon-facebook:before {
  content: "\ea8d";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-linkedin:before {
  content: "\eac8";
}

.icon-envelope:before {
  content: "\e600";
}

button, .button {
  background-color: #f7941d;
  padding: 0.875rem 2.5rem;
  color: white !important;
  text-decoration: none;
  border-radius: 0.25rem;
  -webkit-transition: background-color, -webkit-transform 0.6s ease-in-out;
  -moz-transition: background-color, -moz-transform 0.6s ease-in-out;
  transition: background-color, transform 0.6s ease-in-out;
  display: inline-block;
}
button:hover, .button:hover {
  background-color: #d97a08;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.button-inverse {
  background-color: white;
  color: #f7941d !important;
}
.button-inverse:hover {
  background-color: #fcdab1;
}

.page-header {
  text-align: center;
  background: url('/assets/img/page-header-bg.jpg?1422902835') no-repeat;
  background-size: cover;
  padding: 0.625rem 1.25rem;
  float: left;
  width: 100%;
  margin-top: 0 !important;
  font-size: 1.875rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.5;
}
@media only screen and (min-width: 40.063em) {
  .page-header {
    padding: 2.5rem 1.25rem;
  }
}

.center {
  text-align: center;
}

.intro {
  padding: 3.75rem 2.5rem 3.75rem;
  text-align: center;
  line-height: 1.5;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .intro {
    width: 70%;
  }
}
@media only screen and (min-width: 40.063em) {
  .intro {
    padding: 6.25rem 2.5rem 6.25rem;
    margin: auto auto;
  }
}
@media only screen and (min-width: 64.063em) {
  .intro {
    width: 40%;
  }
}

.pbb {
  margin-bottom: 2.5rem;
}

.pbl {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 40.063em) {
  .pl20 {
    padding-left: 1.25rem !important;
  }
}

@media only screen and (min-width: 40.063em) {
  .pr20 {
    padding-right: 1.25rem !important;
  }
}

@media only screen and (min-width: 40.063em) {
  .pl10 {
    padding-left: 0.625rem !important;
  }
}

@media only screen and (min-width: 40.063em) {
  .pr10 {
    padding-right: 0.625rem !important;
  }
}

.nmt {
  margin-top: 0 !important;
}

.spaced-heading {
  letter-spacing: 3px;
}

.small-caps-heading {
  letter-spacing: 3px;
  color: #f7941d;
  text-transform: uppercase;
  font-weight: 400;
}

.prog-widg {
  margin-bottom: 3.75rem;
}
.prog-widg_item {
  color: #9c9c9c;
}
@media only screen and (min-width: 40.063em) {
  .prog-widg_item {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }
}
.prog-widg_item_img {
  overflow: hidden;
  float: left;
  margin-bottom: 1.25rem;
}
.prog-widg_item img {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -moz-transition: -moz-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
.prog-widg_item:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.prog-widg_heading {
  text-transform: uppercase;
  color: #f7941d;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.isc {
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 40.063em) {
  .isc {
    background-color: #fef1e2;
  }
}

.sstory {
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 2.5rem !important;
}
@media only screen and (max-width: 40em) {
  .sstory {
    background-color: #fef1e2;
  }
}
.sstory p {
  font-size: 90%;
  font-style: italic;
}
.sstory .sstory_heading {
  color: #f7941d;
}
.sstory .sstory_author {
  float: left;
  width: 100%;
  margin-top: 2.5rem;
  position: relative;
}
.sstory .sstory_author img {
  float: left;
  margin-right: 1.25rem;
}
.sstory .sstory_author span {
  float: left;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-top: 1.25rem;
}

.insights-widg {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: whitesmoke;
}
@media only screen and (min-width: 40.063em) {
  .insights-widg {
    border-right: 1.25rem solid white;
  }
}
.insights-widg h4 {
  margin-top: -0.375rem;
  line-height: 1.5;
  margin-bottom: 0.625rem;
  font-weight: 400;
}
.insights-widg_item {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #e9e9e9;
}
.insights-widg_item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.insights-widg_item_summary {
  padding-left: 2.5rem;
}
.insights-widg p {
  clear: both;
}

/** 
* Homepage elements
* Quotes, Social Media and Newsletter subscription link
**/
.hm-quotes, .hm-social, .hm-subscribe {
  padding: 1.25rem 1.875rem !important;
  background-color: #b7c4d3;
  color: white;
  height: 15.625rem;
  border-bottom: 3px solid white;
  -webkit-transition: background-color 0.6s ease-in-out;
  -moz-transition: background-color 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out;
}
@media only screen and (min-width: 40.063em) {
  .hm-quotes, .hm-social, .hm-subscribe {
    border: 3px solid white;
  }
}
.hm-quotes:first-child, .hm-social:first-child, .hm-subscribe:first-child {
  border-left: none;
}
.hm-quotes:last-child, .hm-social:last-child, .hm-subscribe:last-child {
  border-right: none;
}
.hm-quotes h3, .hm-quotes .featured h1, .featured .hm-quotes h1, .hm-quotes .pne_item h1, .pne_item .hm-quotes h1, .hm-social h3, .hm-social .featured h1, .featured .hm-social h1, .hm-social .pne_item h1, .pne_item .hm-social h1, .hm-subscribe h3, .hm-subscribe .featured h1, .featured .hm-subscribe h1, .hm-subscribe .pne_item h1, .pne_item .hm-subscribe h1 {
  line-height: 1.4;
}
.hm-quotes:hover, .hm-social:hover, .hm-subscribe:hover {
  background-color: #97aac0;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .hm-quotes {
    border-right: none;
  }
}
.hm-quotes cite {
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.6;
}
.hm-quotes cite:before {
  content: ' -';
}
.hm-quotes a {
  padding-top: 1.25rem;
  letter-spacing: 2px;
  font-size: 80%;
  font-weight: 400;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: inline-block;
}

.hm-social {
  background-color: #7890ac;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .hm-social {
    border-left: none;
  }
}
.hm-social:hover {
  background-color: #5b7696;
}
.hm-social [class^="icon-"] {
  display: inline-block;
  margin-top: 1.875rem;
  font-size: 1.875rem;
  padding-right: 1.25rem;
  color: white;
}
.hm-social [class^="icon-"]:hover {
  color: #f7941d;
}

.hm-subscribe {
  text-align: center;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .hm-subscribe {
    border-right: none;
  }
}
.hm-subscribe [class^="icon-"] {
  display: inline-block;
  font-size: 2.5rem;
  margin-top: 1.25rem;
}

.contact-social {
  font-size: 2.5rem;
  margin-bottom: 3.75rem;
}
.contact-social [class^="icon-"] {
  padding-right: 1.25rem;
  color: #9c9c9c;
  -webkit-transition: color 0.6s ease-in-out;
  -moz-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
}
.contact-social [class^="icon-"]:hover {
  color: #f7941d;
}
.contact-social [class^="icon-"]:last-child {
  padding-right: 0;
}

.founder {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid #e9e9e9;
}
@media only screen and (max-width: 40em) {
  .founder_image {
    text-align: center;
  }
}

.footer {
  font-size: 0.75rem;
  float: left;
  width: 100%;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}
.footer ul {
  padding-bottom: 0.25rem;
}
.footer a {
  color: #b6b6b6;
}
.footer .social-icons {
  text-align: right;
  font-size: 1.25rem;
}
.footer .social-icons span {
  padding-right: 1.875rem;
}
.footer .social-icons span:last-child {
  padding-right: 0;
}
.footer .copyright {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 1px solid whitesmoke;
  color: #cfcfcf;
}

.featured img {
  margin-bottom: 1.25rem;
}
.featured h1 {
  margin-bottom: 1.25rem;
  line-height: 1.5;
}
.featured .button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.5rem 2.5rem;
}

.pp {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #e9e9e9;
}
.pp h3, .pp .featured h1, .featured .pp h1, .pp .pne_item h1, .pne_item .pp h1, .pp .more {
  text-align: center;
  margin-bottom: 1.25rem;
}
.pp .more {
  text-transform: uppercase;
  color: #9c9c9c;
  margin: auto auto;
  font-size: 80%;
}
.pp .more:hover {
  color: #f7941d;
}
.pp .more span {
  padding-left: 0.625rem;
}

.pp-blog .pp_item, .pp-resources .pp_item {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-bottom: 1.25rem;
}
.pp-blog .pp_item_img, .pp-resources .pp_item_img {
  overflow: hidden;
}
.pp-blog .pp_item img, .pp-resources .pp_item img {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -moz-transition: -moz-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
.pp-blog .pp_item:hover img, .pp-resources .pp_item:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.pp-blog .pp_item {
  padding-bottom: 1.25rem;
}
.pp-blog a {
  font-weight: 400;
  color: #f7941d;
  display: inline-block;
  margin-top: 1.25rem;
}
.pp-blog a:hover {
  color: #d97a08;
}

.pp-resources a {
  font-weight: 400;
  color: #9c9c9c;
  display: inline-block;
  margin-top: 1.25rem;
}
.pp-resources a:hover {
  color: #f7941d;
}

.pp-quote blockquote, .pp-quote-large blockquote {
  font-size: 150%;
  line-height: 1.5;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  color: #b6b6b6;
}
.pp-quote blockquote cite, .pp-quote-large blockquote cite {
  font-size: 50%;
  line-height: 1;
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.25rem;
  font-weight: 300;
}
.pp-quote blockquote cite:before, .pp-quote-large blockquote cite:before {
  content: '- ';
}

.pp-quote-large {
  border-bottom: none;
  margin-bottom: 5rem;
}

.blog-post_title {
  padding-bottom: 1.25rem !important;
}
.blog-post_details {
  padding-top: 1.25rem;
  border-top: 1px solid #e9e9e9;
  margin-right: 1.25rem !important;
}
.blog-post_author {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.blog-post_content img {
  margin-bottom: 1.25rem;
}
.blog-post_content h4 {
  font-weight: bold;
}
.blog-post_content ol li {
  list-style-type: decimal;
  margin-left: 1.25rem;
  padding-left: 1.25rem;
}

.pne_item {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 5rem;
}
.pne_item:last-child {
  border-bottom: none;
}
.pne_item h1 {
  text-align: center;
}
.pne_item .date {
  text-align: center;
  font-weight: 400;
  margin-bottom: 3.75rem;
}
.pne_item .date span {
  border-bottom: 1px solid #e9e9e9;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 1.25rem;
}
.pne_item img {
  padding-bottom: 1.25rem;
  text-align: center;
}
.pne .more {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  margin-top: 2.5rem;
}

.quote-blocks .item {
  background-color: #f6f8fa;
  padding: 1.25rem;
  border: 6px solid white;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.quote-blocks .item:hover {
  background-color: #b7c4d3;
  color: white;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 2000;
}
.quote-blocks .item:hover blockquote {
  color: white;
}
.quote-blocks .item blockquote {
  font-size: 150%;
  line-height: 1.5;
  font-weight: 300;
  font-style: italic;
  color: #b6b6b6;
}
.quote-blocks .item blockquote cite {
  font-size: 50%;
  line-height: 1;
  display: block;
  text-transform: uppercase;
  margin-top: 3.75rem;
  font-weight: 300;
}
.quote-blocks .item blockquote cite:before {
  content: '- ';
}
