{% extends "_layout" %}

{% block content %}
<h1 class="page-header">
	INSIGHTS - QUOTES
</h1>

{% include 'insights/_nav' %}

{% set firstQuote = craft.entries.section('quotes').first() %}
{% set quotes = craft.entries.section('quotes').offset(1) %}
<div class="row">
	<h3 class="pp pp-quote-large mt-pad">
		<blockquote>{{ firstQuote.quoteText }}<cite>{{ firstQuote.quoteAuthor }}</cite></blockquote>
	</h3>
</div>


<div class="quote-blocks pbl">
	{% for quote in quotes %}
		<div class="item">
			<blockquote>{{ quote.quoteText}} <cite>{{ quote.quoteAuthor }}</cite></blockquote>
		</div>
	{% endfor %}
</div>

{% endblock %}